
summary{
    padding: 0;
    color: #fff;
    cursor: pointer;
    position: relative;
}

summary::before {
    content: "▶";
    color: var(--font-c);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}

details[open] summary::before {
    content: "\25BC";
    color: var(--font-c);
}

#icon{
    position: absolute;
    background: #fff;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 40px;
    left: 50px;
    scale: 2.5;
    cursor: pointer;
}


.btn_close{
    position: absolute;
    top: 10px;
    right: -65px;
    display: grid;
    place-items: center;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.text{
    width: 35%;
    min-height: 100vh;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    z-index: 1;
    background-color: white;
    padding: 25px 80px 25px 25px;
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    h1, h2 ,h3{
        margin: 0 0 10px 30px;
    }
    h1{
        font-size: 40px;
        font-weight: 900px;
        letter-spacing: -1px;
    }
    h2{
        font-size: 30px;
        font-weight: 900px;
        letter-spacing: -1px;
    }
    h3{
        font-size: 25px;
        font-weight: 900px;
        letter-spacing: -1px;
    }
    p{
        text-align: justify;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 160%;
        margin-bottom: 20px;
    }
    a{
        display: flex;
        text-decoration: none;
        justify-content: center;
        color: white;
        border-radius: 100px;
        background-color: var(--oth);
        padding: 10px;
        width: 160px;
        font-size: 20px;
    }
}

@media (max-width:1200px) {
    .text{
        width: 50%;
    }
}
@media (max-width:800px) {
    .text{
        width: 100%;
        height: 100%;
    }
    .btn_close{
        right: 20px;
        box-shadow: none;
    }
}